<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ANGE ALIM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min1.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

	<% include _entete %>


	<br><br>
	<div>
		<div class="w3-content w3-section">
		  <img class="mySlides taille" src="/img/img1.jpg" style="width: 100%; height: 540px;">
		  <h5 class="blig">Des produits Bio cultivés sans produits chimiques !!!</h5>
		  <img class="mySlides taille" src="/img/5.jpg" style="width: 100%; height: 540px;">
		  <img class="mySlides taille" src="/img/img2.jpg" style="width: 100%; height: 540px;">
		  <img class="mySlides taille" src="/img/20.jpg" style="width: 100%; height: 540px;">
		</div>
	</div>
	
</div><br><br>

	<div class="contenair" style="background-color: #f6f4f4;">
		<div class="row">
			<div><br><br>
				<h3 style="font-weight: bold; color: red;font-family: Charming Strangulation;"><center>A PROPOS</center></h3><br><br>
				<p style="font-family: Charming Strangulation; font-size: 35px;"> <center>La consommation de legumes et fruits cultivés avec des produits chimiques , persticides constitue un danger pour la santé de l'homme et egalement pour l'environnement car toxique!. 
				Raison pour laquelle ANGELIC BIO grace à sa plateforme met en avant à la disposition des habitants des produits bio[Naturels...], pour une bonne santé équilibré !</center></p><br><br>
				<h5 style="font-weight: bold; color: red;font-family: Charming Strangulation; "><center>POURQUI CHOISIR ANGELIC BIO ?</center></h5><br><br>
				<ul>
					<li style="font-family: Charming Strangulation;">Grace à cette plateforme , vous verez tous les produits bio se trouvant à proximité(dans votre quartier ou commune) chez un marchand bien précis </li>
					<li style="font-family: Charming Strangulation;">Vous avez également la possibilté de choisir n'importe quel produits chez n'importe quel marchand, et nous vous mettrons en contacts pour échanger plus !</li>
				</ul>
				<br><br>
			</div>
		</div>
	</div>
<br><br><br>
<div class="types">
		<h1 style="font-family:'Patua One', cursive;"><center>Quel types de légumes, fruits, féculants bio recherchez vous ? </center></h1>
		<p><h5 style="font-family: Charming Strangulation;"><center>Pour une bonne santé et équilibrée , nous mettons à votre disposition à travers cette plateforme des produits frais et bio ... </center></h5></p>
		<div class="contenair">
			<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="item img-one" style="background-image: url('img/8.jpg');height: 240px;width: 320px;">
					<div class="over">
						<span class="name" style="font-family:Calling Angels Personal Use; font-size:20px;">Légumes</span>
						<span class="des">Piments, Aubergine, Gombos... et plus encore !</span>
					</div>
				</div>
			</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-two" style="background-image: url('img/fr1.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name" style="font-family:Calling Angels Personal Use; font-size:20px;">Fruits</span>
					<span class="des">Tomates, Fraises, Oranges ...</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-three" style="	background-image: url('img/salade.jpg');height: 240px; width: 320px;">

				<div class="over">
					<span class="name" style="font-family:Calling Angels Personal Use; font-size:20px;">Laitues</span>
					<span class="des">Epinard, Laitue, Percils ..."</span>
				</div>
			</div>
		</div>
		
		</div>





<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-one" style="background-image: url('img/ail.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name">Ails</span>
					<span class="des">Ails... et plus encore !</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-two" style="background-image: url('img/ps.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name">Oignons</span>
					<span class="des">Oignons ...</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-three" style="	background-image: url('img/cr.jpg');height: 240px; width: 320px;">

				<div class="over">
					<span class="name">Crustacés</span>
					<span class="des">Crevette, Molusque de mer ..."</span>
				</div>
			</div>
		</div>
		
		</div>

<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-one" style="background-image: url('img/plt.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name" style="font-family:KodinahDiary; font-size:20px;">Volailes</span>
					<span class="des">Poulets... et plus encore !</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-two" style="background-image: url('img/la.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name" style="font-family:KodinahDiary; font-size:20px;">Lapin</span>
					<span class="des">lapins ... et encore plus</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-three" style="	background-image: url('img/bf.jpg');height: 240px; width: 320px;">

				<div class="over">
					<span class="name" style="font-family:KodinahDiary; font-size:20px;">Moutons</span>
					<span class="des">porcins, caprins ..."</span>
				</div>
			</div>
		</div>
		
		</div>




		<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-one" style="background-image: url('img/mj.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name">Tubercules</span>
					<span class="des">Manioc, Pomme de terre, Tarots... et plus encore !</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-two" style="background-image: url('img/miel.jpg');height: 240px;width: 320px;">
				<div class="over">
					<span class="name">Miel</span>
					<span class="des">Miel  ...</span>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="item img-three" style="	background-image: url('img/mais.jpg');height: 240px; width: 320px;">

				<div class="over">
					<span class="name" style="font-family:Calling Angels Personal Use; font-size:20px;">Céréales</span>
					<span class="des">Blé, Mil,Mais,Riz ..."</span>
				</div>
			</div>
		</div>
		
		</div>
	</div>
</div>
<br><br><br><br><br>

<div style="background-color: #f6f4f4;"><br>
	<center> <h1  style="color: red; font-weight: bold; font-size: 25px; border-width: 3px; border-color: black;">INFORMATIONS </h1></center><br><br>
	<center> <h5>Si vous n'etes pas encore inscrire veuillez le faire en cliquant sur le lien ci-dessous <br><br> <a class="btn btn-success" href="/signup">JE M'INSCRIS</a></h5></center><br><br>
	<center><h5>Vous etes un marchands et vous voulez vendre ou présenter vos produits vivriers sur <span class="angelic">ANGELIC BIO</span> ? <br> Si oui alors cliquez sur ce lien ci dessous <br><br><a  class="btn btn-success" href="souscription.php">JE SOUSCRIS</a></h5></center><br><br>
</div><br><br><br>

<div class="team">
	<div class="container">
		<h1 style="font-family:Calling Angels Personal Use; font-size:58px;"><center>Nous nous arrangeons pour qu'il y ait :</center></h1>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 item">
				<img class="img-fluid" src="img/v4.jpg" alt="team" style=" height: 300px;
				width: 450px;">
				<div class="des">
					<h2 style="font-family:Caleuche-RegularOblique; font-size:38px;">FIABILITE</h2>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-12 item">
				<img class="img-fluid" src="img/bg1.jpg" alt="team" style=" height: 300px;
				width: 450px;">
				<div class="des">
					<h2 style="font-family:KodinahDiary; font-size:38px;">FACILITE</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 item">
				<img class="img-fluid" src="img/fr.jpg" alt="team" style=" height: 300px;
				width: 450px;">
				<div class="des">
					<h2 style="font-family:KodinahDiary; font-size:38px;">MOINS CHERS</h2>
				</div>
			</div>
			
		</div>
	</div>
</div>
<br>
<br>
<br>

		
		<% include _footer %>
		
		<script>
		var myIndex = 0;
		carousel();

		function carousel() {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";  
		  }
		  myIndex++;
		  if (myIndex > x.length) {myIndex = 1}    
		  x[myIndex-1].style.display = "block";  
		  setTimeout(carousel, 2000); // Change image every 2 seconds
		}
		</script>





</body>
</html>